/*************** GENERAL ***********************/

* {
    font-family: 'Raleway', sans-serif;
    box-sizing:border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
}

/****************************/









/************ SEARCH-BAR SECTION **************/

.search {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.search-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
    margin: 0;
}

.search-subtitle {
    font-size: 1.1rem;
    color: #555555;
    margin: 0.7rem 0 0 0;
}

.search-info {
    font-size: 1rem;
    color: #777777;
}

.search-info-icon {
    color: var(--main-color);
    margin-right: 5px;
}

/****************************/









/****** SEARCH-BAR-FORM **************/

.search-bar {
    margin: 2.2rem 0;
}

.search-bar-form {
    display: flex;
    align-items: center;
    overflow: auto;
    max-width: 100%;
    height: 50px;
}

.search-bar-form-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--main-bg-color);
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
}

.search-bar-form-search-input {
    padding: 0 1.5rem;
    height: 100%;
    width: 300px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #666;
    border: var(--main-bg-color) 1px solid;
}

.search-bar-form-submit-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 0.3s ease;
    padding: 0 1.5rem;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 1rem 1rem 0;
}

.search-bar-form-submit-input:hover {
    background-color: #004bb7;
}

.search-bar-form-submit-input-icon {
    display: none;
}

.search-bar-form-submit-input-text {
    display: inline-block;
}


/****************************/




.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    /* max-width: 1440px; */
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}









/****** HEADER STYLES **************/

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 4rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 6rem;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    padding: 2rem;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    padding: 1rem 0;
    position: relative;
    display: inline-block;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    background-color: var(--main-color);
}

.nav-link:hover,
.nav-link.active {
    color: var(--main-color);
}


/****************************/





/****** FILTER-BAR SECTION **************/




/****** FILTER-BAR SECTION **************/

.filters {
    margin: 1rem 0;
}

.search-filters {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.search-filters-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.search-filters-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #ccc;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-filters-btn i {
    color: #0065FC;
    font-size: 1.2rem;
}

.search-filters-btn:hover {
    background-color: var(--filter-bg-color);
}

.search-filters-btn.active {
    background-color: var(--filter-bg-color);
}


/****************************/






/****** HEBERGEMENTS AND POPULAIRES **************/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** HEBERGEMENTS **************/

.hebergements {
    width: 65%;
}

.hebergements-title {
    margin-bottom: 2rem;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.hebergements-cards a {
    flex: 1 1 calc(33.33% - 1rem);
    text-decoration: none;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.hebergements-cards .card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.hebergements-cards img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.hebergements-cards .card-content {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-cards .card-title {
    font-size: 1rem;
    font-weight: bold;
}

.hebergements-cards .card-subtitle {
    font-size: 0.9rem;
}

.hebergements-cards .card-rating {
    margin-top: 0.5rem;
}

/****** POPULAIRES **************/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.populaires-cards {
    flex-grow: 1;
}

.populaires-cards .card {
    display: flex;
    margin-top: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.populaires-cards .card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}











/****** RESPONSIVE DESIGN **************/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

/* ---------------- RESPONSIVE DESIGN ---------------- */

/* MOBILE (max-width: 767.98px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    main {
        padding: 0 2rem;
    }

    /****** HEADER STYLES **************/

    
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo img {
        max-width: 5rem;
        padding: 2rem 0;
    }

    .nav-menu {
        width: 100%;
    }

    .nav-menu ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .nav-menu li {
        flex: 1;
        text-align: center;
    }
    
    .nav-menu li a {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        text-decoration: none;
        padding: 1.5rem 0;
        display: block;
        position: relative;
    }   

    .nav-link::before {
        top: auto;
        bottom: 0;
    }

    /****** SEARCH-BAR-FORM **************/

    .search-bar {
        width: 100%;
    }

    .search-bar-form {
        flex-direction: row;
        width: 100%;
        overflow: hidden;
    }

    .search-bar-form-icon {
        padding: 0.8rem;
        width: 15%;
        justify-content: center;
    }

    .search-bar-form-search-input {
        width: -webkit-fill-available;
    }

    .search-bar-form-submit-input-text {
        display: none;
    }

    .search-bar-form-submit-input-icon {
        display: inline-block;
        font-size: 1.2rem;
    }

    .search-bar-form-submit-input {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ---------------- RESPONSIVE DESIGN ---------------- */

    .search-filters-title {
        text-align: left;
    }

    .search-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        justify-content: center;
    }

    .search-filters-btn {
        width: calc(50% - 0.4rem);
        justify-content: center;
    }

    .filters {
        text-align: center;
        margin: 2rem 0;
    }
}